{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if links %}
        <div class="list-group">
            {% for link in links %}
                <a href="{{ link.url }}" class="list-group-item">{{ link.title }}
                <span class="small">Submitted by {{link.author.username}}</span>
                </a>
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-warning">
            No links found.
        </div>
    {% endif %}

    <h3>Add a link</h3>
    {% if linkForm %}
        {{ form_start(linkForm) }}
            <div class="form-group">
                {{ form_errors(linkForm.title) }}
                {{ form_errors(linkForm.url) }}
                {{ form_widget(linkForm.title, { 'attr':  {
                    'rows': '1',
                    'class': 'form-control',
                    'placeholder': 'Enter your title'
                }}) }}
                {{ form_widget(linkForm.url, { 'attr':  {
                    'rows': '1',
                    'class': 'form-control',
                    'placeholder': 'Enter your URL'
                }}) }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Publish link" />
            </div>
        {{ form_end(linkForm) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% else %}
        <a href="{{ path('login') }} ">Log in</a> to add links.
    {% endif %}

{% endblock %}
